<h1>Record purchase</h1>

<form id="form-purchase-new" class="form-new" method="POST" action="/owner_products">

    <div class="form-field">
        <label for="select-purchaser">Purchaser</label>
        <select id="select-purchaser" name="owner_id">
            <% for owner in Owner.all() %>
                <option value="<%= owner.id %>">
                    <%= owner.full_name %>
                </option>          
            <% end %>
        </select>
    </div>

    <div class="form-field">
        <label for="select-product">Product</label>
        <select id="select-product" name="product_id">
            <% for product in Product.all() %>
                <option value="<%= product.id %>">
                    <%= product.name %> (<%= product.curr_price.to_currency %>)
                </option>          
            <% end %>
        </select>
    </div>

    <div class="form-field">
        <label for="date">Date</label>
        <input id="date" type="date" name="date" />
    </div>    
    
    <input class="submit" type="submit" value="Add product">

</form>