<h1>Edit pet</h1>

<form id="form-pet-edit" class="form-edit" method="POST" action="/pets/<%= @pet.id %>">

    <input type="hidden" name="owner_id" value="<%= @pet.owner_id %>" />

    <div class="form-field">
        <label for="name">Name</label>
        <input id="name" type="text" name="name" value="<%= @pet.name %>" />
    </div>

    <div class="form-field">
        <label for="dob">Date of Birth</label>
        <input id="dob" type="date" name="dob" value="<%= @pet.dob %>" />
    </div>

    <div class="form-field">
        <label for="type">Type</label>
        <input id="type" type="text" name="type" value="<%= @pet.type %>" />
    </div>

    <div class="form-field">
        <label for="notes">Notes</label>
        <textarea id="notes" type="text" name="notes"><%= @pet.notes %></textarea>
    </div>

    <div class="form-field">
        <label for="select-vet">Vet</label>
        <select id="select-vet" name="vet_id">
            <% for vet in @vets %>
                <option value="<%= vet.id %>" <% if vet.id == @pet.vet_id %> selected <% end %>>
                    <%= vet.full_name %>
                </option>          
            <% end %>
        </select>
    </div>

    <input class="submit" type="submit" value="Save">
    <button type="button"><a href="/pets">Cancel</button>

</form>