<h1> Pets </h1>

<ul>
<% for pet in @pets %>
    
        <li>
            <a href="/pets/<%= pet.id %>"><%= pet.name %></a> | 
            <%= pet.type %> | 
            <% if pet.is_assigned?() %>
                <%= pet.status %>
            <% else %>
                <a href="/pets/<%= pet.id %>/edit"><em><%= pet.status %></em></a>
            <% end %>
        </li>
    
<% end %>
</ul>

<form class="btn-route" action="/pets/new" method="GET"><input type="submit" value="Add new"></form>