<div class="content-top">

    <header>
        <h1><%= @vet.full_name %></h1>
        <%= @vet.tel %><br/>
    </header>

    <section class="button-row">
        <form class="btn-route" action="/vets/<%= @vet.id %>/edit" method="GET"><input type="submit" value="Edit"></form>
        <form class="btn-route" action="/vets/<%= @vet.id %>/delete" method="POST"><input type="submit" value="Delete"></form>
    </section>

</div>

<hr/>

<div class="content-bottom">

    <section id="section-vet-pets">
        <table>
            <caption><h2>Registered pets</h2></caption>
            <% for pet in @vet.pets %>
                <tr>
                    <td>
                        <a href="/pets/<%= pet.id %>"><%= pet.name %></a>
                    </td> 
                    <td>
                        <%= pet.type %>
                    </td>
                </tr>
            <% end %>       
        </table>
        <% if @vet.pets.count == 0 %>
            <em>No pets assigned</em>
        <% end %>
    </section>

    <section id="section-vet-schedule">
        
        <%# Start w/ yesterday's date and change it with every new day in the appts book %>
        <% curr_date = @start_date - 1.day %>
        <% while curr_date < @start_date + 2.days do %>
            <% curr_date += 1.day %>
            <% @date = curr_date%> 
            <% @heading = @date.strftime("%-d %B %Y") %>        
            <%= erb( :"appointments/table" ) %>
        <% end%>
        
    </section>

</div>

<section class="button-row">
    <form class="btn-route" action="/vets/<%= @vet.id %>" method="GET">
        <button name="start_date" value="<%= @start_date - 1.day %>" type="submit"><< PREV</button>
    </form>
    <form class="btn-route" action="/vets/<%= @vet.id %>" method="GET">
           <button name="start_date" value="<%= @start_date + 1.day %>" type="submit">NEXT >></button>
    </form>
</section>






