<h1><%= @vet.full_name %></h1>
<%= @vet.tel %><br/>

<ul>
    <% for pet in @vet.pets %>
        <li><a href="/pets/<%= pet.id %>"><%= pet.name %></a> | <%= pet.type %></li>
    <% end %>
    <% if @vet.pets.count == 0 %>
        <em>No pets assigned</em>
    <% end %>        
</ul>  

<form class="btn-route" action="/vets/<%= @vet.id %>/edit" method="GET"><input type="submit" value="Edit"></form>
<form class="btn-route" action="/vets/<%= @vet.id %>/delete" method="POST"><input type="submit" value="Delete"></form><br/>




