<div class="content-top">
    <header>
        <h1><%= @owner.full_name %></h1>
        <em>
            <% for element in @owner.full_address %>
                <%= element %><br/>
            <% end %>
        </em>
        <p><%= @owner.tel %></p>
        <p>
            <% if @owner.accepts_marketing? %>
                <span class="data-ok">Marketing OK</span>
            <% else %>
                <span class="data-no">No marketing</span>
            <% end %>
        </p>
        <p>Balance due: £
            <% if @owner.balance_due > 0 %>
                <span class="data-no">
            <% else %>
                <span class="data-ok">
            <% end %>    
                    <%= sprintf('%.2f', @owner.balance_due) %>
                </span>
    </header>

</div>

<div class="content-bottom">

    <section class="section-owner-info">    
        <table id="table-pet-index">
            <caption><h2>Pets</h2></caption>    

            <% for pet in @owner.pets %>
                <tr>
                    <td>
                        <a href="/pets/<%= pet.id %>"><%= pet.name %></a>
                    </td> 
                    <td>
                        <%= pet.type %>
                    </td>
                </tr>
            <% end %>      
        </table>
        <% if @owner.pets.count == 0 %>
            <em>No pets registered.</em>
        <% end %>
    </section>

    <section class="section-owner-billings">
        <table id="table-owner-billings">
            <caption><h2>Billings</h2></caption>
            <% if @owner.purchases.count > 0 %>

                <% for purchase in @owner.purchases.to_chron_order %>
                <tr>
                    <td>
                        <%= purchase.pretty_date %>
                    </td> 
                    <td>
                        <%= purchase.description %>
                    </td> 
                    <td>
                        <%= purchase.cost.to_currency %> 
                    </td>
                </tr>
                <% end %>

                <tr>
                    <td colspan="2">
                        TOTAL:
                    </td>
                    <td> 
                        <%= @owner.total_billed.to_currency %>
                    </td>
                </tr>

            <% end%>
        </table>
        <% if @owner.purchases.count == 0 %>
            <em>No billings yet.</em>
        <% end %>
    </section>
    
    <section class="section-owner-info">
        <table id="table-owner-payments">
            <caption><h2>Payments</h2></caption>
            
            <% if @owner.payments.count > 0 %>
            <% for payment in @owner.payments %>
                <tr>
                    <td>
                        <%= payment.pretty_date %>
                    </td> 
                    <td>
                        <%= payment.amount.to_currency %>
                    </td>
                </tr>    
            <% end %>        
            <tr>
                <td>
                    TOTAL: 
                </td>
                <td>
                    <%= @owner.total_paid.to_currency %>
                </td>
            </tr>
            <% end %>
        </table>
        <% if @owner.payments.count == 0 %>
            <em>No payments made yet.</em>    
        <% end %>
    </section>

</div>

<section class="button-row">
    <form class="btn-route" action="/owners/<%= @owner.id %>/edit" method="GET"><input type="submit" value="Edit details"></form>
    <form class="btn-route" action="/pets/new" method="GET">
        <input type="hidden" name="owner_id" value="<%= @owner.id %>">
        <input type="submit" value="Add pet">
    </form>
    <form class="btn-route" action="/owners/<%= @owner.id %>/delete" method="POST"><input type="submit" value="Delete"></form>
</section>