<h1><%= @owner.full_name %><sup class="id-sup"> (ID: <%= @owner.id %>)</sup></h1>
<em><%= @owner.full_address %></em>
<p>Balance due: £<%= sprintf('%.2f', @owner.balance_due) %>

<h2>Pets</h2>

<ul>
    <% for pet in @owner.pets %>
        <li><a href="/pets/<%= pet.id %>"><%= pet.name %></a> | <%= pet.type %></li>
    <% end %>
    <% if @owner.pets.count == 0 %>
        <em>No pets assigned</em>
    <% end %>              
</ul>

<form class="btn-route" action="/owners/<%= @owner.id %>/edit" method="GET"><input type="submit" value="Edit details"></form>
<form class="btn-route" action="/pets/new" method="GET">
    <input type="hidden" name="owner_id" value="<%= @owner.id %>">
    <input type="submit" value="Add pet">
</form>
<form class="btn-route" action="/owners/<%= @owner.id %>/delete" method="POST"><input type="submit" value="Delete"></form>